.header__inner {
    margin: 0 auto;
    padding: 10px 20px;
    max-width: 1512px;
    height: 70px;
}

.header-utilities {
    border-bottom: 1px solid #cdcdcd;
}

.header__logo {
    color: rgb(234, 97, 177);

    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
}

.header-utilities nav {
    width: 18%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    border: 1px solid#cdcdcd;
    border-radius: 1px;
    background: #cdcdcd;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.header-nav__button {
    border: 1px solid#cdcdcd;
    border-radius: 1px;
    background: #cdcdcd;
    font-size: 16px;
    cursor: pointer;
}
